section.section{
    display :flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

section.section div{
    width : 600px;
    box-shadow: 0.1px 0.1px 2px rgb(167, 167, 167);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

section.section div:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(56, 173, 52);
}

section.section div strong{
    color: rgb(66, 108, 187);
    display: block;
    font-size: 1.5em;
    margin: 10px;
    margin-left: 0px;
}

section.section div span{
    color: rgb(148, 148, 148);
}

.line{
    height: 0px;
    background-color: rgb(219, 219, 219);
    width: 200px;
    margin: 30px;
}